{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "VERSION": true
  },
  "rules": {
    "indent": [2, 2],
    "comma-dangle": 0,
    "no-shadow": 0,
    "no-else-return": 0
  }
}