html, body{
	margin: 0px;
	width: 100%;
	height: 100%;
	padding: 60px;
	background: #333;
	color: white;
	font-family: sans-serif !important;
}

progress { -webkit-appearance: none; }
progress::-webkit-meter-bar {
	background: none !important;
    background-color: buttonface !important;
	-webkit-box-shadow: inset 2px 2px 3px 0px rgba(50, 50, 50, 0.56);
}

#dictaphone{
	display: block;
	padding: 3px;
	width: 1000px;
	margin-top: 30px;
	background: #101316;
	-webkit-border-radius: 3px;
	border: 1px solid #666;
}

#playback_buttons,
#download{
	padding: 10px;
	width: 38%;
	display: inline-block;
}

#recording_progress_bar{
	border:1px solid #666;
	-webkit-border-radius: 3px;
	padding: 3px;
	width: 56%;
	display: inline-block;
	background: #2a2a2a;
}

#progress_bar{
	display: inline-block;
	width: 75%;
	padding: 0px;
}

#progress_time{
	font-weight: normal;
	display: inline-block;
	width: 24%;
	text-align:center;
}

button#rec, 
button#stop, 
button#rew, 
button#ff, 
button#play_pause,
button#save{
	padding: 5px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	border: 0px;
	font-weight: bold;
}

